.filters {
  position: sticky;
  top: 90px;
}

.filter-categories {
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
}

.selected {
  color: lightgrey;
  font-size: 20px;
}

.filter-genders {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.filter-gender {
  font-family: "Poppins";
  font-size: 16px;
}

.price input {
  width: 100px;
  border: 1px solid black;
  border-radius: 7px;
}
