.hero .title {
  font-family: "Poppins";
  font-weight: 500;
}

.filter {
  background-color: #f2f2f2;
  min-width: 120px;
  border-radius: 15px;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
